{% extends "base.html.twig" %}

{% block body %}
	<main class="flex flex-col">

		<div class="font-title text-3xl text-gray-700 font-bold text-center my-5 ">
			{{ month.name ~ ' ' ~ year.name }}</div>

		{# separator #}
		<div class="flex justify-center">
			<div class="h-1 bg-blue-400 w-4/5"></div>
		</div>

		{% for day in days %}
			<div class="">
				<p class="my-4 text-center text-black text-xl underline">
					<a href="" alt="month">{{ day.date|date('l d') }}</a>
				</p>
			</div>
		{% endfor %}

	</main>
{% endblock %}
