{% extends "base.html.twig" %}

{% block body %}
	<main class="flex flex-col">

		<div class="font-title text-3xl text-gray-700 font-bold text-center my-5 ">
			{{ month.name ~ ' ' ~ year.name }}</div>

		{# separator #}
		<div class="flex justify-center">
			<div class="h-1 bg-gray-800 w-4/5"></div>
		</div>

        <div class="flex flex-row p-4 w-full flex-wrap justify-center ">

			{% for day in days %}
				<div class="bg-sable-100 m-3 w-full rounded-md  lg:w-1/3 hover:bg-sable-200 text-center">
					<a class="block py-8 h-full w-full text-white text-2xl hover:underline" href="{{ path('day', {'id': day.id} ) }}" alt="day">{{ day.date|date('l d') }}</a>
				</div>
			{% endfor %}
		</div>

	</main>
{% endblock %}
