{% extends "base.html.twig" %}

{% block body %}
	<main class="flex flex-col">

		<div class="font-title text-3xl text-gray-700 font-bold text-center my-5 ">
			{{ day.date|date('l d') ~ ', ' ~ day.month.name ~ ' ' ~ day.year.name }}</div>

		{# separator #}
		<div class="flex justify-center">
			<div class="h-1 bg-gray-800 w-4/5"></div>
		</div>

	</main>
{% endblock %}
