{% for label, messages in app.flashes(['success', 'info']) %}
	{% for message in messages %}
		<div style="z-index: -1;" class="relative flash alert alert-{{ label }} mx-3 animate__animated animate__backOutUp animate__delay-5s">
			{{ message }}
		</div>
	{% endfor %}
{% endfor %}