<div class="flex flex-col p-4 xl:w-3/4">
	<p class="my-4 text-center text-black text-xl underline">Help</p>
	<p class="my-3 text-center text-gray-600 text-lg">You are lost? you need help? Did you break the site? Don't worry, we're here for you. Write your
		<span class="text-blue-500 font-bold">concerns</span>
		above and we will respond to them very soon!</p>

	<form id="help" method="post" class="ajax">

		<div class="flex flex-col">
			<label for="message" class="text-gray-700 text-lg">Write here</label>
			<textarea placeholder="My concerns is about..." value="" rows="5" class="text-blue-400 shadow-md resize-y form-control border-b outline-none py-2 px-1 text-lg focus:border-b-2 focus:border-blue-500"></textarea>
		</div>

		<div id="output" class="flex justify-between w-full items-center py-2">

			<div id="error"></div>
			<button class="btn bg-green-400 hover:bg-green-600 my-3" type="submit">
				Send !
			</button>
		</div>
	</form>

</div>
