<div class="flex flex-col p-4">
	<p class="my-4 text-center text-black text-xl underline">Options</p>

	<div class="flex justify-center items-center my-4">
		<a href="{{ path('user_profile') }}" alt="edit profile" class="btn bg-green-400 hover:bg-green-600">Go back</a>
	</div>
</div>
