<div class="flex flex-col p-4">
	<p class="my-4 text-center text-black text-xl underline">Options</p>

	<div class="flex justify-center items-center my-4">
		<a href="{{ path('user_edit') }}" alt="edit profile" class="btn hover:btn">Edit your profile</a>
	</div>

	<div class="flex justify-center items-center my-4">
		<a href="{{ path('user_edit_password') }}" alt="change password" class="btn hover:btn">Change your password</a>
	</div>

	<div class="flex justify-center items-center my-4">
		<a href="" alt="remove profile" class="text-center btn bg-red-500 hover:bg-red-700 ">Delete your account</a>
	</div>
</div>
